<app-header />

<div class="p-6">
  <div class="flex gap-4">
    <div class="p-4 basis-[33.333%] shadow rounded-lg">
      <div class="flex justify-between">
        <h6 class="text-[24px] font-bold leading-none">Логи</h6>
        <div class="flex flex-col items-end">
          <span class="uppercase opacity-50">Всего логов</span>
          <span class="text-[20px] font-semibold">231</span>
        </div>
      </div>
      <div class="mt-6 flex text-body-2">
        <span class="mr-auto">Соответствуют требованиям</span>
        <span class="font-semibold text-success">86%</span>
        <span class="min-w-[60px] text-right text-success">199</span>
      </div>
      <div class="mt-1 flex text-body-2">
        <span class="mr-auto">Не соответствуют требованиям</span>
        <span class="font-semibold text-error">14%</span>
        <span class="min-w-[60px] text-right text-error">32</span>
      </div>
    </div>

    <div class="p-4 basis-[33.333%] shadow rounded-lg">
      <div class="flex justify-between">
        <h6 class="text-[24px] font-bold leading-none">Поездки</h6>
        <div class="flex flex-col items-end">
          <span class="uppercase opacity-50">Всего выполнено</span>
          <span class="text-[20px] font-semibold">1,891</span>
        </div>
      </div>
      <div class="mt-6 flex text-body-2">
        <span class="mr-auto">Выполнено успешно</span>
        <span class="font-semibold text-success">97%</span>
        <span class="min-w-[60px] text-right text-success">1,834</span>
      </div>
      <div class="mt-1 flex text-body-2">
        <span class="mr-auto">Отменено и прочее</span>
        <span class="font-semibold text-error">3%</span>
        <span class="min-w-[60px] text-right text-error">57</span>
      </div>
    </div>

    <div class="p-4 basis-[33.333%] shadow rounded-lg">
      <div class="flex justify-between">
        <h6 class="text-[24px] font-bold leading-none">Грузы</h6>
        <div class="flex flex-col items-end">
          <span class="uppercase opacity-50">Всего доставлено</span>
          <span class="text-[20px] font-semibold">15,781</span>
        </div>
      </div>
      <div class="mt-6 flex text-body-2">
        <span class="mr-auto">Успешно</span>
        <span class="font-semibold text-success">98%</span>
        <span class="min-w-[60px] text-right text-success">15,465</span>
      </div>
      <div class="mt-1 flex text-body-2">
        <span class="mr-auto">Возникли проблемы</span>
        <span class="font-semibold text-error">2%</span>
        <span class="min-w-[60px] text-right text-error">316</span>
      </div>
    </div>
  </div>
</div>

<div class="px-6 flex gap-4 mb-6">
    <div class="basis-[50%] p-4 relative rounded-lg shadow overflow-hidden">
        <span class="absolute top-4 left-4 text-body-1 font-semibold">Поездки <span class="text-success">(+140%)</span></span>
        <div class="rounded-lg overflow-hidden animate-pulse">
            <img src="assets/icons/chart.svg" alt="График 1">
        </div>
        <div class="mt-4">
            <span class="text-body-2 opacity-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odit provident voluptate architecto ipsa! Suscipit placeat quis odit sapiente, necessitatibus iste repellendus ratione reiciendis tenetur quos voluptates esse eaque unde deleniti, aperiam distinctio illum culpa ipsum autem qui quas minus accusamus quisquam! Culpa harum nemo labore sequi laboriosam voluptas expedita.</span>
        </div>
    </div>
    <div class="basis-[50%] p-4 relative rounded-lg shadow overflow-hidden">
        <span class="absolute top-4 left-4 text-body-1 font-semibold">Прибыль <span class="text-success">(+164%)</span></span>
        <div class="rounded-lg overflow-hidden animate-pulse">
            <img src="assets/icons/chart2.svg" alt="График 2">
        </div>
        <div class="mt-4">
            <span class="text-body-2 opacity-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odit provident voluptate architecto ipsa! Suscipit placeat quis odit sapiente, necessitatibus iste repellendus ratione reiciendis tenetur quos voluptates esse eaque unde deleniti, aperiam distinctio illum culpa ipsum autem qui quas minus accusamus quisquam! Culpa harum nemo labore sequi laboriosam voluptas expedita.</span>
        </div>
    </div>
</div>
