<header
  class="bg-white border-light h-[56px] w-full flex justify-end items-center sticky top-0 shadow-dark drop-shadow-lg"
>
  <div class="flex-grow">
  </div>

  <div
    class="px-4 relative h-full flex items-center cursor-pointer transition hover:bg-light"
    [ngClass]="{ 'bg-light': isMenuOpened }"
    (click)="isMenuOpened = !isMenuOpened"
  >
    <div
      *ngIf="userService.currentUser?.avatar"
      class="w-8 h-8 overflow-hidden"
    >
      <img
        src="{{ userService.currentUser?.avatar }}"
        class="w-full h-full object-cover object-center"
        alt=""
      />
    </div>
    <div class="ml-4">
      <div class="text-body-1">
        {{ userService.currentUser?.first_name }}&nbsp;{{
          userService.currentUser?.last_name
        }}
      </div>
      <div class="text-body-3 text-gray opacity-50">
        {{ userService.currentUser?.email }}
      </div>
    </div>

    <div
      *ngIf="isMenuOpened"
      class="absolute top-full left-0 max-w-full min-w-full"
      (click)="$event.stopPropagation()"
    >
      <div class="bg-light p-4 flex flex-col justify-end cursor-default">
        <button type="button" class="w-full btn btn--error" (click)="logout()">
          Выйти
        </button>
      </div>
    </div>
  </div>
</header>
