<div class="login">
    <form action="#" (ngSubmit)="login($event)" class="login__form">
        <h3 class="login__title">Вход в учетную запись</h3>

        <div class="mt-8 control">
            <span class="control__caption">Email</span>
            <input class="control__input" type="email" [(ngModel)]="email" name="EMAIL" placeholder="example@mail.ru" required />
            <span class="control__error">*Обязательное поле</span>
        </div>
        <div class="mt-4 control">
            <span class="control__caption">Пароль</span>
            <input class="control__input" type="password" [(ngModel)]="password" name="PASSWORD" placeholder="********" required />
            <span class="control__error">*Обязательное поле</span>
        </div>

        <a href="javascript:void(0)" class="login__forgot">Забыли пароль?</a>
        
        <button class="mt-6 !p-4 w-full btn" type="submit">Войти</button>
        
        <p class="login__register">
            Нет учетной записи?
            <a href="javascript:void(0)" (click)="moveToRegister()">Зарегестрироваться</a>
        </p>
    </form>
</div>