<app-header />
<div>
  <table class="m-6 border-[1px]">
    <tr>
      <th>id</th>
      <th>login</th>
      <th>first_name</th>
      <th>last_name</th>
      <th>birth_date</th>
      <th>phone</th>
      <th>email</th>
    </tr>
    <tr *ngFor="let driver of drivers">
      <td>{{driver.id}}</td>
      <td>{{driver.login}}</td>
      <td>{{driver.first_name}}</td>
      <td>{{driver.last_name}}</td>
      <td>{{driver.birth_date}}</td>
      <td>{{driver.phone}}</td>
      <td>{{driver.email}}</td>
    </tr>
  </table>
</div>
