h1,
h2,
h3,
h4,
h5 {
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 24px;
  line-height: 27.6px;
}

h5 {
  font-size: 18px;
  line-height: 22.5px;
}

svg {
  @apply w-full h-full;
}

.btn {
    @apply bg-primary text-white w-full p-4 text-button transition duration-300;
    
    &:hover {
        @apply bg-darkprimary;
    }
    
    &:active {
        @apply bg-primary;
    }
        
    &--success {
        @apply bg-success;
        
        &:hover {
            @apply bg-darksuccess;
        }
        
        &:active {
            @apply bg-success;
        }
    }
        
    &--error {
        @apply bg-error;
        
        &:hover {
            @apply bg-darkerror;
        }
        
        &:active {
            @apply bg-error;
        }
    }
    
    &:disabled {
        @apply border-light bg-light text-white;
    }
}

.btn-alt {
    @apply bg-white text-dark w-full p-4 text-button border-[1px] border-dark transition duration-300;
    
    &:hover {
        @apply border-light bg-light;
    }
    
    &:active {
        @apply bg-dark text-white;
    }
    
    &--success {
        @apply border-success text-success;
        
        &:hover {
            @apply border-darksuccess text-darksuccess;
        }
        
        &:active {
            @apply border-success text-success bg-white;
        }
    }
        
    &--error {
        @apply border-error text-error;
        
        &:hover {
            @apply border-darkerror text-darkerror;
        }
        
        &:active {
            @apply border-error text-error bg-white;
        }
    }
    
    &:disabled {
        @apply border-light bg-light text-white;
    }
}

.control {
  @apply relative;

  &__caption {
    @apply text-dark text-body-2 transition;
  }

  &__error {
    @apply hidden text-error text-body-3 text-right absolute top-full mt-1 right-0;
  }

  &__input {
    @apply mt-1 p-2 text-dark w-full border-light border-[1px] border-b-[3px] bg-white outline-none transition;

    &:not(:focus):hover {
      @apply bg-light;
    }
  }

  &::after {
    @apply w-0 h-[3px] absolute bottom-0 left-[50%] translate-x-[-50%] bg-primary transition-all duration-300;
    content: "";
  }

  &:focus-within::after {
    @apply w-full;
  }

  &:focus-within &__caption {
    @apply text-primary;
  }
}
