<form action="#">
    <h3 class="text-[1.5rem]">Регистрация учетной записи</h3>
    
    <div class="mt-8 control">
        <p class="control__caption">Имя</p>
        <input class="control__input" type="text" name="NAME" placeholder="John" />
    </div>
    <div class="mt-4 control">
        <p class="control__caption">Email</p>
        <input class="control__input" type="email" name="EMAIL" placeholder="example@mail.ru" />
    </div>
    <div class="mt-4 control">
        <p class="control__caption">Пароль</p>
        <input class="control__input" type="password" name="PASSWORD" placeholder="********" />
    </div>
    <div class="mt-4 control">
        <p class="control__caption">Повторите пароль</p>
        <input class="control__input" type="password" name="PASSWORD_REPEAT" placeholder="********" />
    </div>
    
    <button class="mt-8 bg-primary text-white w-full p-4 text-button hover:brightness-125"
        type="submit">Зарегестрироваться</button>
    <p class="text-center mt-4 text-body-2">Уже есть учетная запись? <a href="javascript:void()" class="text-primary font-bold" (click)="moveToRegister()">Войти</a></p>
</form>