<div class="fleet">
    <app-header />
    <div class="fleet__content">
        <div class="fleet__panel">
            <mat-tab-group fitInkBarToContent disablePagination="true" mat-stretch-tabs="false" mat-align-tabs="start"
                color="primary" class="h-full">
                <mat-tab label="Маршруты">
                    <app-fleet-trips class="max-h-full" />
                </mat-tab>
                <mat-tab label="Транспорт">
                    <app-fleet-vehicles class="max-h-full" />
                </mat-tab>
                <mat-tab label="Водители">
                    <app-fleet-drivers class="max-h-full" />
                </mat-tab>
                <mat-tab label="Грузы">
                    <app-fleet-assets class="max-h-full" />
                </mat-tab>
            </mat-tab-group>
        </div>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa4fd0803cf4bc99a859fe20c4210b1c41ec583ece5a287d1b845fc4b2122f8df&amp;source=constructor" frameborder="0" class="w-full h-full"></iframe>
    </div>
</div>