.menu {
  @apply sticky top-0 z-50 min-h-[100vh] w-[240px] bg-black shadow-dark shadow-lg overflow-hidden transition-[width] duration-[400ms];

  &--small {
    @apply w-[56px];
  }

  &--small &__logo {
    @apply w-full px-0 justify-center;
    
    svg {
      @apply fill-white;
    }
    
    span {
      @apply w-0 opacity-0 mr-0;
    }
    
    &:hover svg {
        @apply fill-darkprimary;
    }
  }

  &--small &__link {
    @apply px-4;
    
    span {
      @apply opacity-0;
    }
    &::before {
      @apply opacity-0;
    }
  }

  &__logo {
    @apply pt-4 px-4 flex items-center transition-all duration-[400ms];

    svg {
      @apply w-8 h-8 fill-darkprimary transition-all duration-[400ms] shrink-0;
    }

    span {
      @apply mr-2 font-bold text-white text-[32px] leading-none overflow-hidden w-[78px] transition-all duration-[400ms];
    }

    &:hover {
      svg {
        @apply fill-primary;
      }
    }
  }

  &__group:not(:last-child) {
    @apply mb-8;
  }

  &__link {
    @apply relative py-3 pl-4 pr-2 flex items-center gap-4 transition;

    svg {
      @apply w-6 h-6 stroke-[#828282] transition shrink-0;
    }

    span {
      @apply text-[#828282] font-medium text-body-1 transition whitespace-nowrap;
    }

    &::before {
      content: "";
      @apply bg-primary h-full w-0 absolute top-0 left-0 transition-all;
    }

    &:not(&--active):hover {
      @apply bg-dark bg-opacity-25;

      svg {
        @apply stroke-light;
      }

      span {
        @apply text-light;
      }
    }

    &--active {
      @apply bg-dark bg-opacity-50 cursor-default;

      svg {
        @apply stroke-primary;
      }

      span {
        @apply text-primary;
      }

      &::before {
        @apply w-[6px];
      }
    }
  }
  
  &__sizer {
    @apply absolute bottom-0 left-0 w-full p-4 flex justify-center items-center transition-all;
    
    svg {
        @apply w-6 h-6 stroke-[#828282] transition;
    }
    
    &:hover {
        @apply bg-dark bg-opacity-25;
        
        svg {
            @apply w-6 h-6 stroke-light;
        }
    }
  }
}
