.popup {
  @apply fixed left-0 top-0 z-50 mobile:p-3 flex justify-center items-center w-full h-full;
  transition: visibility 0.3s ease;

  &__backdrop {
    backdrop-filter: blur(4px);
    @apply absolute left-0 top-0 w-full h-full;
    background-color: rgba(14, 14, 21, 0.7);
  }

  &__container {
    @apply overflow-y-auto p-2;
    max-height: 100vh;
    max-height: 100dvh;
  }

  &__window {
    @apply relative w-full z-50 bg-white p-6 max-mobile:p-4 rounded overflow-x-hidden;
  }

  &__content {
    // @apply
  }
}
