<div class="driver">
    <div *ngIf="driver" class="driver__card" [ngClass]="{
        'driver__card--update': isEdit
    }">
        <h3 class="driver__title">{{ getFullName() }}</h3>

        <form class="mt-8 w-[800px]">
            <div class="driver__section">
                <h6 class="driver__section-title">Общие сведения</h6>
                <div class="control">
                    <label class="control__caption" for="id">ID</label>
                    <input type="text" id="id" class="control__input" [value]="driver.id" disabled />
                </div>

                <div class="mt-4 control">
                    <label class="control__caption" for="login">Логин</label>
                    <input type="text" id="login" name="login" class="control__input" [(ngModel)]="login"
                         placeholder="Не заполнено" [disabled]="!isEdit" />
                </div>

                <div class="mt-4 flex gap-4">
                    <div class="basis-[33.333%] control">
                        <label class="control__caption" for="first_name">Имя</label>
                        <input type="text" id="first_name" name="first_name" class="control__input"
                            [(ngModel)]="first_name" [disabled]="!isEdit" placeholder="Не заполнено" />
                    </div>
                    <div class="basis-[33.333%] control">
                        <label class="control__caption" for="last_name">Фамилия</label>
                        <input type="text" id="last_name" name="last_name" class="control__input"
                            [(ngModel)]="last_name" [disabled]="!isEdit" placeholder="Не заполнено" />
                    </div>
                    <div class="basis-[33.333%] control">
                        <label class="control__caption" for="birth_date">Дата рождения ДД.ММ.ГГГГ</label>
                        <input type="text" id="birth_date" name="birth_date" class="control__input"
                             placeholder="Не заполнено" [(ngModel)]="birth_date" [disabled]="!isEdit" matInput
                            [matDatepicker]="birth_date_picker" />
                        <div class="ml-2 mb-[-2px] absolute left-full bottom-0" [ngClass]="{'hidden': !isEdit}">
                            <mat-datepicker-toggle matIconSuffix [for]="birth_date_picker"></mat-datepicker-toggle>
                            <mat-datepicker #birth_date_picker></mat-datepicker>
                        </div>
                    </div>
                </div>

                <div class="mt-4 flex gap-4">
                    <div class="basis-[50%] control">
                        <label class="control__caption" for="phone">Телефон</label>
                        <input type="text" id="phone" name="phone" class="control__input" [(ngModel)]="phone"
                            [disabled]="!isEdit" placeholder="Не заполнено" />
                    </div>
                    <div class="basis-[50%] control">
                        <label class="control__caption" for="email">Эл.почта</label>
                        <input type="text" id="email" name="email" class="control__input" [(ngModel)]="email"
                            [disabled]="!isEdit" placeholder="Не заполнено" />
                    </div>
                </div>
            </div>
            <div class="driver__section">
                <h6 class="driver__section-title">Сведения о регистрации</h6>
                <div class="flex gap-4">
                    <div class="basis-[33.333%] control">
                        <label class="control__caption" for="license_type">Категория прав</label>
                        <input type="text" id="license_type" name="license_type" class="control__input"
                            [(ngModel)]="license_type" [disabled]="!isEdit" placeholder="Не заполнено" />
                    </div>
                    <div class="basis-[33.333%] control">
                        <label class="control__caption" for="license_number">Номер прав</label>
                        <input type="text" id="license_number" name="license_number" class="control__input"
                            [(ngModel)]="license_number" [disabled]="!isEdit" placeholder="Не заполнено" />
                    </div>
                    <div class="basis-[33.333%] control">
                        <label class="control__caption" for="license_expire_date">Права истекают</label>
                        <input type="text" id="license_expire_date" name="license_expire_date" class="control__input"
                            [disabled]="!isEdit" [(ngModel)]="license_expire_date" [matDatepicker]="license_expire_date_picker" placeholder="Не заполнено" />
                        <div class="ml-2 mb-[-2px] absolute left-full bottom-0" [ngClass]="{'hidden': !isEdit}">
                            <mat-datepicker-toggle matIconSuffix [for]="license_expire_date_picker"></mat-datepicker-toggle>
                            <mat-datepicker #license_expire_date_picker></mat-datepicker>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div *ngIf="!isEdit" class="driver__controls">
            <button type="button" (click)="this.isEdit = true" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <use xlink:href="assets/icons/common.sprites.svg#edit"></use>
                </svg>
                Редактировать
            </button>
            <button type="button" (click)="delete()" class="btn btn--error">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <use xlink:href="assets/icons/common.sprites.svg#trash-bin"></use>
                </svg>
                Удалить
            </button>
            <button type="button" routerLink="/drivers" class="btn-alt">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <use xlink:href="assets/icons/common.sprites.svg#arrow-back"></use>
                </svg>
                Назад к списку
            </button>
        </div>

        <div *ngIf="isEdit" class="driver__controls">
            <button type="button" (click)="update()" class="btn btn--success">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <use xlink:href="assets/icons/common.sprites.svg#save"></use>
                </svg>
                Сохранить изменения
            </button>
            <button type="button" (click)="reset()" class="btn-alt">
                Отменить изменения
            </button>
        </div>
    </div>

    <div *ngIf="!driver">
        <h3 class="mt-12 text-center opacity-50">Водитель не найден</h3>
    </div>
</div>