<div class="p-6 bg-white relative z-20">
    <div class="flex justify-between">
        <div class="control w-[400px]">
            <input type="search" class="control__input" placeholder="Поле для поиска" />
        </div>
        <div class="flex items-center gap-4">
            <button type="button" routerLink="/drivers/new" class="btn">
                Добавить
            </button>
        </div>
    </div>
</div>

<app-data-table [data]="drivers" [columns]="columns" [allowSelect]="true" (changeSelect)="this.selectedRows=$event" />

<div class="px-6 py-2 sticky bottom-0 bg-white flex justify-between items-center border-t-[1px] border-light opacity-0 invisible transition-all" [ngClass]="{
    'opacity-100 !visible': selectedRows.length
}">
    <div>
        <span class="text-body-1">Выделено элементов:</span>
        <span class="ml-4 text-body-1 font-bold">{{selectedRows.length}}</span>
    </div>
    <div class="flex items-center gap-4">
        <button type="button" class="btn btn--error" (click)="deleteByIds(selectedRows)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <use xlink:href="assets/icons/common.sprites.svg#trash-bin"></use>
            </svg>
            Удалить
        </button>
        <button type="button" class="btn-alt">Отменить</button>
    </div>
</div>
