@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/mixins";
@import "styles/fonts";
@import "styles/browser";
@import "styles/ui";

* {
    @apply text-dark;
    font-family: "Montserrat", sans-serif;
}

body {
    max-width: 100vw;
    background-color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: scroll;
}